/*Basket*/
.basket {
    position: relative;
    padding: 24px;
    margin-top: -26px;

    background: #f6f6fa;
    border-radius: 24px;
    z-index: 1000;
}

.background::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1001;
}

.product__total__wrapper {
    display: flex;
    justify-content: space-between;
}

.basket__wrapper {
    margin-top: 10px;
}

.basket__title {
    font-size: 28px;
}

.basket__checkbox__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 23px;
}

.basket__checkbox__wrapper img {
    cursor: pointer;
}

.basket__all {
    display: flex;
}

#checkbox_all {
    margin-right: 12px;
}
.span__payment__style {
    font-size: 13px;
    font-weight: 400;
    margin-top: -5px;
    margin-left: -5px;
}
.order__conditions {
    margin-top: 4px;
}
/*basket-item*/
.basket__item {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.product__total__wrapper {
    position: relative;
}

.total__position {
    position: absolute;
    right: 0;
    top: 0;
}

.accordion__content {
    visibility: visible;
    transition: 0.5s ease;
}

.accordion__content .close {
    display: none;
}

.close {
    display: none;
}

.accordion__button {
    padding: 0;
    background-color: transparent;
    border: 0px solid transparent;
}

#basket__item_1 {
    margin-top: 10px;
}

.basket__item__wrapper {
    display: flex;
}

.basket__singlet {
    display: flex;
    margin-right: 5px;
}

.input__checkbox {
    margin-right: 12px;
    height: 96px;
    display: flex;
    align-items: center;
}

.basket__accordion__info {
    display: none;
}

.basket__accordion__info p {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.basket__singlet img {
    max-width: 100%;
    max-height: 100%;
}

.item__title {
    width: 275px;
    font-weight: 400;
    font-size: 16px;
}

.item__title-2 {
    width: 275px;
}

.item__color__size {
    display: flex;
}
.size {
    margin-left: 16px;
}
.item__color__size p {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 13px;
}

.item__place {
    font-weight: 400;
    font-size: 13px;
    color: #a0a0a4;
}

.item__company {
    display: flex;
}

.item__amount__wrapper {
    display: flex;
    width: 226px;
    justify-content: space-between;
}

.item__amount {
    margin-left: 2px;
    margin-right: 6px;
}

.item__calculations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 44px;
    background: #ffffff;
    border-radius: 8px;
}

.item__calculations button {
    cursor: pointer;
    background-color: transparent;
    border: 0px solid;
}
#plus,
#minus {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}
.item__amount__text {
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 6px;
}

.item__left {
    margin-top: 4px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px;
    color: #ff3b30;
}

.item__interaction {
    margin-right: 2px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.item__interaction img {
    cursor: pointer;
}

.item__interaction img:first-child {
    margin-right: 20px;
}

.item__price__text {
    font-weight: 700;
    font-size: 20px;
}
p [data-name="book"] {
    margin-top: -1px;
}

.item__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#price {
    line-height: 32px;
    letter-spacing: -0.01em;
}
#price span {
    font-size: 18px;
}
#price__text-2 {
    font-size: 16px;
    margin-top: 3px;
}

#price__text-2 span {
    font-size: 16px;
}

.cummon_price_style {
    line-height: 1;
}
.cummon_style_wrapper {
    display: flex;
}

.item__price__text {
    font-weight: 700;
    font-size: 20px;
}

.item__price__text span {
    font-weight: 700;
    font-size: 16px;
}

.item__discount__text {
    font-size: 13px;
    color: #9797af;
    text-decoration: double;
    cursor: pointer;
}

#text__decoration {
    align-items: flex-start;
    display: inline-block;
    text-decoration: line-through;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    margin-top: 8px;
}

.item__discount__text s {
    color: #a0a0a4;
    height: 1px;
}

.item__discount__text span {
    border-bottom: 1px dashed;
}

/*Total*/
.total {
    /* margin-right: 24px; */
    width: 429px;
    height: 572px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.total {
    padding: 16px 24px 24px 24px;
}

.total__wrapper__text p {
    font-weight: 400;
    font-size: 16px;
}

#total__price p {
    margin-right: 2px;
    font-weight: 700;
    font-size: 24px;
}

.order-1 {
    flex-direction: column;
    display: block;
}
.total__amount {
    margin-top: 5px;
}
.total__info__common {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total__info__common img {
    cursor: pointer;
}

.total__street {
    font-weight: 400;
    font-size: 13px;
    margin-top: 2px;
}

.total__delivery__point {
    margin-top: 24px;
}

.total__delivery__point img {
    cursor: pointer;
}

.total__delivery__point p {
    font-weight: 700;
    font-size: 16px;
}

.total__delivery__time {
    font-weight: 400;
    font-size: 13px;
    color: #cb11ab;
}

.notification__free {
    display: none;
    padding: 10px 16px 14px;
    top: 50px;
    left: 0px;
    position: absolute;
    width: 381px;
    height: 56px;

    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.notification__hover:hover .notification__free {
    display: block;
}

.total__info__delivery {
    position: relative;
}

.notification {
    display: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    position: absolute;
    flex-direction: column;
    right: -135px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 16px;
    width: 280px;
    height: 104px;
    background: #ffffff;
    border-radius: 8px;
    z-index: 1003;
}

.notification__style {
    position: relative;
}

.notification2 {
    right: -120px;
}

.info__images:hover .notification {
    display: block;
}

.notification__discount {
    display: none;
    width: 239px;
    height: 64px;
    top: 25px;
    position: absolute;
    right: -6px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.notification__style:hover .notification__discount {
    display: block;
}

.notification__discount__text {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.notification__discount__num {
    color: #a0a0a4;
    font-weight: 400;
    font-size: 13px;
}

.notification__discount__minus {
    font-weight: 400;
    font-size: 13px;
}

.notification__hover p {
    cursor: pointer;
}

.info__images {
    position: relative;
    margin-left: 3px;
    cursor: pointer;
}

.notification__title {
    font-weight: 700;
    font-size: 13px;
}

.notification__text {
    font-weight: 400;
    font-size: 13px;
}

.notification__street {
    font-weight: 400;
    font-size: 13px;
}

.total__delivery__time span {
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.total__info__delivery {
    margin-top: 12px;
    align-items: center;
    padding: 8px 8px 12px;
    background: #f6f6fa;
    border-radius: 8px;
}

.total__info__delivery p {
    margin-left: 9px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17.6px;
}
#payment__modal {
    display: flex;
    align-items: center;
}
.total__info__delivery span {
    color: #0cb477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.total__payment {
    align-items: flex-end;
}

.total__payment p {
    margin-bottom: 8.5px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
}

.total__map {
    display: flex;
}
.total__map p {
    font-weight: 400;
    font-size: 13px;
    margin-top: 3px;
}
.total__map img {
    margin-right: 8px;
}

.total__info__payment {
    margin-top: 16px;
    margin-bottom: 26px;
    padding: 8px;
    background: #f6f6fa;
    border-radius: 8px;
}

.total__info__payment p {
    font-weight: 400;
    font-size: 13px;
}

.total__info__checkbox {
    display: flex;
}

.total__info__checkbox input {
    margin-right: 8px;
}

.total__order {
    cursor: pointer;
    margin-bottom: 12px;
    width: 100%;
    border: 0px solid;
    background: #cb11ab;
    color: white;
    border-radius: 8px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
}

.total__agreement {
    display: flex;
    align-items: baseline;
}

.total__agreement p {
    line-height: 16px;
    text-align: start;
    margin-left: 8.5px;
    font-weight: 400;
    font-size: 13px;
}

.total__agreement p span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
